<!-- <body>
  <header>fuck this</header>
  <ul class="upperLeft">
    <app-home></app-home>
  </ul>
  <ul class="upperMiddle">
    <app-about></app-about>
  </ul>
  <ul class="upperRight">
    <app-portfolio></app-portfolio>
  </ul>
  <ul class="bottomLeft">
    <app-clients></app-clients>
  </ul>
  <ul class="bottomMiddle">
    <app-sup></app-sup>
  </ul>
  <ul class="bottomRight">
    <app-contact></app-contact>
  </ul>
</body> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="rowOne">
      <div class="topLeft">
        <app-home></app-home>
      </div>
      <div class="topMiddle">
        <app-about></app-about>
      </div>
      <div class="topRight">
        <app-portfolio></app-portfolio>
      </div>
    </div>
    
    <div class="rowTwo">
      <div class="bottomLeft">
        <app-clients></app-clients>
      </div>
      <div class="bottomMiddle">
        <app-sup></app-sup>
      </div>
      <div class="bottomRight">
        <app-contact></app-contact>
      </div>
    </div>
  </body>
</html>
