<div class="container">
  <div class="row">
    <div class="col-md-3 text-center bg-secondary text-white" style="background-color: gray;">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-md-3 text-center  bg-secondary text-white" style="background-color: gray;">
      <app-average-rating></app-average-rating>
    </div>
    <div class="col-md-3 text-center" style="background-color: gray;" >
      <app-reviews></app-reviews>
    </div>
    <div class="col-md-3 text-center" style="background-color: gray;" >
      <app-sentiment-analysis></app-sentiment-analysis>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9 text-center" style="background-color: gray;">
      <app-website-vistors></app-website-vistors>
    </div>
  </div>


<!-- <div class="row">
  <div class="col-md-3">
    <div class="well"><app-dashboard></app-dashboard></div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><app-reviews></app-reviews></div>
      </div>
      <div class="col-md-4">
        <div class="well"><app-average-rating></app-average-rating></div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <app-sentiment-analysis></app-sentiment-analysis>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="well"><app-website-vistors></app-website-vistors></div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">
      <div class="col-md-3" style="background-color: gray;" >
        <app-dashboard></app-dashboard>
      </div>
      <div class="col-md-3"style="background-color: gray;" >
        <app-reviews></app-reviews>
      </div>

      <div class="col-md-3">
        <app-average-rating></app-average-rating>
      </div>

      <div class="col-md-3">
        <app-sentiment-analysis></app-sentiment-analysis>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6 offset-md-3">
        <app-website-vistors></app-website-vistors>
      </div>
    </div> -->
